# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# # Data (khong commit data goc, chi giu cau truc)
# data/raw/*
# !data/raw/.gitkeep
# data/processed/*
# !data/processed/.gitkeep

# Ket qua lon
results/figures/*
!results/figures/.gitkeep
results/metrics/*.pkl
results/metrics/*.csv
results/metrics/*.json
!results/metrics/.gitkeep

# Webapp saved models
webapp/saved_models/*
!webapp/saved_models/.gitkeep

# OS
.DS_Store
Thumbs.db
